body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

:root{
    --primary-color: #d9d9d9;
    --secondary-color: #284b63;
    --accent: #3c6e71;
    --extra-1: #353535;
    --white: #f1faee;
}

html, body{
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.main-container{
    display: grid;
    height: 100vh;
    grid-template-rows: 12% 12% 75%;

}

.heading{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

form{
    display: flex;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-text, .add-button, .todo-status{
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--white);
}

.input-text{
    height: 30px;
    padding: 2px .5rem;
    border-radius: .6rem 0 0 .6rem;
    font-size: inherit;
}

.add-button{
    height: 30px;
    width: 1rem;
    cursor: pointer;
    box-sizing: unset;
    padding: 2px .8rem;
    border-radius: 0 .6rem .6rem 0;
}

.add-button:hover{
    background-color: var(--extra-1);
}

.todo-status{
    margin-left: 2rem;
    height: 34px;
    border-radius: .6rem;
    padding: 2px;
    font-size: inherit;
}

/* Common Todo List style */

.todo-container{
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.lists{
    width: 100%;
    overflow: auto;
}

.list{
    display: flex;
    align-items: center;
    background-color: var(--extra-1);
    color: var(--white);
    height: 30px;
    border-radius: .6rem;
    margin: 1rem 0;
    overflow: hidden;
}

.list-value{
    flex: 1;
    margin: 0;
    padding: .3rem 1rem;
    font-size: 1.2rem;
}

.list-ic{
    display: flex;
    align-items: center;
}

.list-ic img:first-child{
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}

.list-ic > img{
    padding: 5px 1rem;
    height: 20px;
    background-color: var(--secondary-color);
    width: 1.4rem;
    cursor: pointer;
}

.list-ic > img:hover{
    background-color: var(--accent);
}

/* Todo List Completed style */
.list.true{
    background-color: rgba(53, 53, 53, 0.8);
}

.list.true .list-value{
    text-decoration: line-through;
}